.App {
  text-align: center;
}
body {
  background-color: #669999;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Banner { 
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  top:0;
  left:0;
  right:0;
  height: 80px;
  border-bottom: 1px solid;
  border-color: white;
  background-color: #a3c2c2;
}


.Title {
    font-size: 40px;
    font-family: "Serif";
    color: #0666;
    padding-left: 30px;
    font-weight: bold;
    
}

.data-blocks {
  flex-grow: 1;
}
.container{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1000px;
  height: 300px;
  margin: 100px auto 0;
  word-break: break-all;
  border: 3px solid #bfbfbf;
  border-radius: 4px;
}
.blocks{
  display: flex;
}
.tabs{
  padding: 15px;
  text-align: center;
  width: 50%;
  cursor: pointer;
  border-bottom: 3px solid #bfbfbf;
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs p{
  width: 100%;
  height: 100%;
  font-size: 35px;
  font-weight: 300;
  color:#bfbfbf;
  margin:0;
  padding: 0;
}
.address{
  width: 100%;
  height: 100%;
  font-size: 35px;
  color:#bfbfbf;
}

.tabs:not(:last-child){
  border-right: 3px solid #bfbfbf;
}
.data {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.data h2 {
  padding: 0px 0 5px 0px;
  font-size: 35px;
  color:#bfbfbf;
}
.data p {
  width: 100%;
  height: 100%;
}
.active-data{
  display: block;
}
.active-tabs{
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
}
